<div class="app">
    <header class="header">
        <div class="vertical-center">
            <span>My awsome app</span>
        </div>
        <div class="vertical-center">
            <p>header right</p>
        </div>
    </header>

    <nav class="nav">
        <ul>
            <li>
                <a>menu 1 asjdjaksd ajskd ajsdhajsd ajsd ajkdsskdflsdlfsdflj</a>
            </li>
            <li>
                <a>menu 2</a>
            </li>
            <li>
                <a>menu 2</a>
            </li>
        </ul>
    </nav>

    <div class="main">

        main

        <div class="content-grid">
            <div class="item">sdfsfdf</div>
            <div class="item">sdfsfdf</div>
            <div class="item">sdfsfdf</div>
            <div class="item">sdfsfdf</div>
            <div class="item">sdfsfdf</div>
            <div class="item">sdfsfdf</div>
            <div class="item">sdfsfdf</div>
            <div class="item">sdfsfdf</div>
        </div>

        <section class="section-parallax bg"></section>

    </div>

    <footer class="footer">
        footer...
    </footer>
</div>